.form{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.form h2{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
}

.form p{
    font-size: 1.22rem;
    color: #ccc;
    margin-bottom: 2rem;
}

.form form{
    max-width: 600px;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}

.form form input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 2rem;
}


.form form button{
    padding: 1rem 2rem;
    background:#44E5AE;
    cursor: pointer;
    border:none ;
}
